{% extends 'teacherbase.html' %}
{% block staff %}
<h2>Personal Leave Record</h2>
<hr>
<a class="btn" onclick="Back()" style="background-color:#ccccff; margin-bottom:5%;">Back</a>
{% if leave_list != [] %}
    {% for i in range(num) %}
<div id="leave">
            <table id="detail">
                <tr style="background-color: #cceeff;">
                    <td>Leave ID:</td>
                    <td>{{leave_list[i][0]}}</td>
                </tr>
                <tr>
                    <td>Leave Date:</td>
                    <td>{{leave_date[i]}}</td>
                </tr>
                <tr>
                    <td>Leave Reason:</td>
                    <td>{{leave_list[i][2]}}</td>
                </tr>
                <tr>
                    <td>Approval:</td>
                    <td>{{leave_list[i][3]}}</td>
                </tr>
            </table>
</div>
    {% endfor %}

{% else %}
<p style="text-align: center;">You do not have any personal leave record!</p>
{% endif %}


<style>
    #detail{
        width:80%;
        margin:auto;
    }

    #leave{
        background-color:white;
        padding:2%;
        margin:3%;
    }
</style>

<script>
function Back() {
  window.history.back();
}
</script>
{% endblock %}